In [18]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq

In [3]:
pa

In [4]:
di = {'one': [20, np.nan, 2.5],'two': ['january', 'february', 'march'],'three': [True, False, True]}

In [5]:
di

{'one': [20, nan, 2.5],
 'two': ['january', 'february', 'march'],
 'three': [True, False, True]}

In [8]:
df = pd.DataFrame(di, index=list('abc'))

In [9]:
df

    one       two  three
a  20.0   january   True
b   NaN  february  False
c   2.5     march   True

In [10]:
table = pa.Table.from_pandas(df)

In [17]:
table

pyarrow.Table
one: double
two: string
three: bool
__index_level_0__: string
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "one", "field_name": "one", "pandas_type": "float64",'
            b' "numpy_type": "float64", "metadata": null}, {"name": "two", "fi'
            b'eld_name": "two", "pandas_type": "unicode", "numpy_type": "objec'
            b't", "metadata": null}, {"name": "three", "field_name": "three", '
            b'"pandas_type": "bool", "numpy_type": "bool", "metadata": null}, '
            b'{"name": null, "field_name": "__index_level_0__", "pandas_type":'
            b' "unicode", "numpy_type": "object", "metadata": null}], "creator'
            b'": {"library": "pyarrow", "version": "0.15.1"}, "pandas_version"'
            b': "0.25.2"}'}

In [24]:
pq.write_table(table, 'test/example.parquet')

In [28]:
def log_model_metrics(parquet_file, metrics=1):
    try:
        table = pq.read_table(parquet_file)
        print(table.schema)
    except:
        print("There is no parquet file with that name")
    finally:
        print("Finished logging")

In [29]:
log_model_metrics('test/example.parquet')

one: double
two: string
three: bool
__index_level_0__: string
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "one", "field_name": "one", "pandas_type": "float64",'
            b' "numpy_type": "float64", "metadata": null}, {"name": "two", "fi'
            b'eld_name": "two", "pandas_type": "unicode", "numpy_type": "objec'
            b't", "metadata": null}, {"name": "three", "field_name": "three", '
            b'"pandas_type": "bool", "numpy_type": "bool", "metadata": null}, '
            b'{"name": null, "field_name": "__index_level_0__", "pandas_type":'
            b' "unicode", "numpy_type": "object", "metadata": null}], "creator'
            b'": {"library": "pyarrow", "version": "0.15.1"}, "pandas_version"'
            b': "0.25.2"}'}
Finished logging