In [1]:
# NLTK 
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Spacy 
import spacy
import en_core_web_sm
import en_core_web_md
    
# Other packages
import re
import pandas as pd
import numpy as np
import json

In [2]:
x = NLTK_functions("spaCy provides a variety of linguistic annotations to give you insights into a text’s grammatical structure. This includes the word types, like the parts of speech, and how the words are related to each other. For example, if you’re analyzing text, it makes a huge difference whether a noun is the subject of a sentence, or the object – or whether “google” is used as a verb, or refers to the website or company in a specific context.")

NameError: name 'NLTK_functions' is not defined

In [3]:
x.text

NameError: name 'x' is not defined

In [4]:
y = spacy_functions(u"Apple is looking at buying U.K. startup for $1 billion")

NameError: name 'spacy_functions' is not defined

In [6]:
y.text_small

Apple is looking at buying U.K. startup for $1 billion

In [7]:
y.entities()

Apple 0 5 ORG
U.K. 27 31 GPE
$1 billion 44 54 MONEY

In [8]:
y.word_similarities()

Apple True 7.1346846 False
is True 4.890306 False
looking True 5.4164834 False
at True 6.0998254 False
buying True 6.2184978 False
U.K. True 6.626984 False
startup True 6.779131 False
for True 4.8435082 False
$ True 7.748268 False
1 True 5.269974 False
billion True 8.310136 False

In [5]:
class NLTK_functions:
    stop_words = list(set(stopwords.words('english')))
    sid = SentimentIntensityAnalyzer()
    def __init__(self, text):
        self.text = text
    
    # Filter text to remove punctuation and stopwords
    def remove_stopwords(self):
        text = re.sub(r'[^\w\s]', '', self.text)
        text = word_tokenize(self.text)
        return [w for w in text if not w in self.stop_words]

    # Get word count of text with stopwords removed
    def get_word_count(self):
        word_list = self.remove_stopwords()
        return len(word_list)

    # Get token count of tokenized text
    def get_token_count(self):
        return len(word_tokenize(self.text))

    # Get sentence count of tokenized text
    def get_sentence_count(self):
        sent_tokenize_list = sent_tokenize(self.text)
        return len(sent_tokenize_list)

    def get_brevity_score(self):
        word_count_no_stopwords = self.get_word_count()
        token_count = self.get_token_count()
        return (word_count_no_stopwords / token_count)

    def get_sentiment_nltk_vader(self):
        tokens_list = word_tokenize(self.text)
        sentence = ' '.join(word for word in tokens_list)
        # print(sentence)
        ss = self.sid.polarity_scores(sentence)
        return [ss['pos'], ss['neg'], ss['neu'], ss['compound']]

In [17]:
def create_append_feature(target_df, source_df_column, new_column_name, applied_function):
    column_list = []
    for text in target_df[source_df_column]:
        column_list.append(applied_function(text))
    target_df[new_column_name] = column_list
    return target_df

In [7]:
%store -r article_df article_df_enriched

In [18]:
article_df.head()

,id,text,text_no_stopwords
0,106081,Trump Supporter “Kicked Pregnant Muslim Woman ...,"[Trump, Supporter, Kicked, Pregnant, Muslim, W..."
1,129341,UW Facts and Figures – University of Wisconsin...,"[UW, Facts, Figures, University, WisconsinMadi..."
2,100963,Gun Control Advocates Target Peaceful Switzerl...,"[Gun, Control, Advocates, Target, Peaceful, Sw..."
3,12200,U.S. and Republic of Korea Conclude New Specia...,"[US, Republic, Korea, Conclude, New, Special, ..."
4,128496,Kremlin's persistent claim of “expected chemic...,"[Kremlins, persistent, claim, expected, chemic..."

In [9]:
article_df.iloc(0)[0]['text']

'Trump Supporter “Kicked Pregnant Muslim Woman In Stomach Killing Unborn Twins”\nA MAN was charged today charged over a race attack on a pregnant woman who later lost her unborn twin babies .\n\nDavid Gallacher, 37, is accused of assaulting the mum-to-be by kicking her in the stomach as she walked close to a mosque .\n\nGallacher has been bailed to appear at Milton Keynes Magistrates’ Court\n\nHe also allegedly attacked a man who tried to intervene during the incident in Milton Keynes, Bucks., last August.\n\nThe unnamed woman, who is a mum-of-four, was forced to flee her home in fear as a result of the assault.\n\nHer 40-year-old husband also had to give up his job as a taxi driver to stay home and reassure his traumatised wife.\n\nHe also allegedly attacked a man who tried to intervene during the incident in Milton Keynes, Bucks., last August.\n\nThe unnamed woman, who is a mum-of-four, was forced to flee her home in fear as a result of the assault.\n\nHer 40-year-old husband also had to give up his job as a taxi driver to stay home and reassure his traumatised wife.\n\nBefore they were scrubbed , social media pages, including Facebook indicated Gallacher was a “fan” of Donald Trump.\n\nGallacher was today charged with assault causing actual bodily harm, assault by beating and two counts of racially/religiously aggravated assault .\n\nHe has also been charged with three counts of assaulting a constable as they arrested a man in a separate incident on September 14 last year.\n\nGallacher, of no fixed abode, has been bailed to appear at Milton Keynes Magistrates’ Court on 14 March.\n\nEmail Addresses\n\nHair\n\nContacts\n\nBuck\n\nCharged\n\nCongress Courts\n\nDonalds\n\nDrinking\n\nDriver\n\nEmail Addresses\n\nHair Image used from similar incident in France, for illustrative purposes.\n\n.'

In [10]:
example = NLTK_functions(article_df.iloc[0]['text']).remove_stopwords()

In [19]:
def remove_stopwords(text):
    stop_words = list(set(stopwords.words('english')))
    text_no_punc = re.sub(r'[^\w\s]', '', text)
    text_tokens = word_tokenize(text_no_punc)
    return [w for w in text_tokens if not w in stop_words]

In [20]:
new_df = create_append_feature(article_df, 'text', 'text_no_stopwords', remove_stopwords)

In [21]:
new_df

,id,text,text_no_stopwords
0,106081,Trump Supporter “Kicked Pregnant Muslim Woman ...,"[Trump, Supporter, Kicked, Pregnant, Muslim, W..."
1,129341,UW Facts and Figures – University of Wisconsin...,"[UW, Facts, Figures, University, WisconsinMadi..."
2,100963,Gun Control Advocates Target Peaceful Switzerl...,"[Gun, Control, Advocates, Target, Peaceful, Sw..."
3,12200,U.S. and Republic of Korea Conclude New Specia...,"[US, Republic, Korea, Conclude, New, Special, ..."
4,128496,Kremlin's persistent claim of “expected chemic...,"[Kremlins, persistent, claim, expected, chemic..."
...,...,...,...
36159,59464,Was Obama’s $1.7 billion cash deal with Iran p...,"[Was, Obamas, 17, billion, cash, deal, Iran, p..."
36160,123044,Graeme Hart $265m superyacht Ulysses sold\nUly...,"[Graeme, Hart, 265m, superyacht, Ulysses, sold..."
36161,43414,New Hampshire\nMedicaid-Marketplace Overview\n...,"[New, Hampshire, MedicaidMarketplace, Overview..."
36162,15783,"052314 mqspftexas\n\nEmails (excerpted), Micha...","[052314, mqspftexas, Emails, excerpted, Michae..."
36163,145502,Secondary Drinking Water Standards: Guidance f...,"[Secondary, Drinking, Water, Standards, Guidan..."